---
import TodoList from "../components/TodoList";
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout>
	<div class="todo-container">
		<TodoList client:load />
	</div>
</DefaultLayout>

<style lang="scss" is:global>

	.todo-container {
		@import "../styles/global";
		background: $color-one;
		width: 500px;
		height: 400px;
		display: block;
		padding: 0 0;
		overflow-y: auto;
		border-top: 4px solid rgba(255, 255, 255, 0.27);
		/* width */
		&::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: $color-three;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: black;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
		.todo-list{
			display: flex;
			flex-direction: column;
			color: white;
			width: 100%;
			align-items: start;
			justify-content: start;
			.todo-list-item{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 15px 20px;
				font-weight: 700;
				width: 100%;
				font-size: 18px;
				border-bottom: 1px solid rgba(159, 138, 138, 0.7);
				.action-group{
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					gap: 2px;
					.action-edit{
						color: turquoise;
						cursor: pointer;
					}
					.action-delete{
						color: red;
						cursor: pointer;
					}
				}
			}
		}
	}
</style>